@charset "utf-8";
@import "./reset.css";
@import "./common.css";
@import "./layout.css";
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.548);
    z-index: 999;
    color: #eee;
}
header .logo {
    float: left;
    margin-top: 30px;
}
header .btn-toggle {
    float: left;
    margin-top: 35px;
    margin-right: 40px;
}
header .gnb {
    float: left;
}
header .gnb .gnb-item {
    display: inline-block;
    margin-right: 10rem;
    line-height: 100px;
    position: relative;
    text-align: center;
}
header .gnb .gnb-item:hover > a {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
header .gnb .gnb-item:hover .gnb-item-introduce {
    visibility: visible;
}
header .gnb .gnb-item-introduce {
    /* ver1 */
    position: absolute;
    top: 101px;
    left: 0;
    width: 150px;
    line-height: 70px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    visibility: hidden;

    /* ver2 */
    /* position: absolute;
    top: 101px;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%; */


}
header .gnb .gnb-item-introduce li {
    display: inline-block;
    width: 100%;
}
header .gnb .gnb-item-introduce a:hover {
    color: var(--primary-color);
}
header .search {
    float: right;
    padding-top: 2rem;
}
header .search .btn-lang {
    vertical-align: top;
    margin-top: 20px;
}
header .search .btn-search {
    color: #fff;
    vertical-align: top;
    padding: 1rem 6rem 1rem 2rem;
    margin: 20px 40px 0;
    border-radius: 20px;
    border: 1px solid #eee;
    position: relative;
    transition: all .3s;
}
header .search .btn-search:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}
header .search .ir-logo {

}
/* section-title */
h2.section-title {
    margin: 100px auto 44px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}
h2.section-title img {
    margin-bottom: 24px;
}
/* vision */
section.vision {
    height: 100vh;
    background: url(../image/vision/vis_3.jpg) no-repeat center/cover;
    position: relative;
}
.vision-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.vision-more {
    border: 2px solid #fff;
    padding: 1rem 2rem 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 11.3rem;
    left: 50%;
    border-radius: 30px;
    transform: translateX(-50%);
    transition: all 300ms;
}
.vision-more:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}
.vision-more::after {
    content: '';
    display: inline-block;
    background: url(../image/icon.png);
    background-position: -120px -100px;
    width: 16px;
    height: 8px;
    margin-left: 2rem;
}
/* about */
.about .thumb-item {
    float: left;
    width: 33.3333%;
}
.about .thumb-item .thumb-img {
    overflow: hidden;
    /* border: 1px solid #000; */
}
.about .thumb-item .thumb-img img {
    transition: all 500ms;
}
.about .thumb-item:hover .thumb-img img {
    transform: scale(1.2);
}
.about .thumb-item .thumb-desc {
    padding: 43px 0 30px;
    margin-left: 40px;
    border-bottom: 1px solid #ddd;
}
.about .thumb-item .thumb-desc p {
    margin: 1.5rem 0 4.5rem;
    height: 48px;
}
.about .thumb-item .thumb-desc span {
    display: inline-block;
    font-weight: bold;
}
.about .thumb-item .thumb-desc span::before {
    content: '';
    display: inline-block;
    background: url(../image/icon.png);
    background-position: -400px -100px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 1rem;
}

/* innovation */
.innovation .product-photo {
    margin-bottom: -80px;
}
.innovation dl {
    width: 80%;
    margin: 0 auto;
}
.innovation dt {
    position: relative;
    background: #fff;
    height: 80px;
    padding: 3rem 5rem;
    font-weight: bold;
}
.innovation dt span:after  {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 50%;
    margin: 0 1rem;
}
.innovation dd {
    height: 170px;
    background: #2c3848;
    padding: 3rem 5rem;

}
.innovation dd span {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    vertical-align: top;
}
.innovation dd p {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    padding: 0 5rem;
    color: #ddd;
    line-height: 1.75;
}
.innovation dd a {
    display: inline-block;
    background: var(--primary-color);
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 2rem;
    border-radius: 20px;
}
/* challenge */
.challenge {
    margin-top: 100px;
    padding: 100px 0;
    background: url(../image/challenge/fullbg_main.jpg) no-repeat center/cover;
}
.challenge .outer-list > li {
    padding: 0 50px 50px;
}
/* 직무특성 */
.challenge .icon-career {
    position: relative;
}
.challenge .icon-career::before {
    content: '';
    display: inline-block;
    background: url(../image/icon.png);
    /* position: absolute; */
    background-position: -115px -205px;
    width: 26px;
    height: 29px;
    margin-left: -40px;
}
/* 인재상 */
.challenge .icon-talent {
    position: relative;
}
.challenge .icon-talent::before {
    content: '';
    background: url(../image/icon.png);
    background-position: -175px -205px;
    width: 26px;
    height: 29px;
    display: inline-block;
    /* position: absolute; */
    margin-left: -40px;
}
/* .challenge .arrow-right-small::after {
    content: '';
    display: inline-block;
    background: url(../image/icon.png);
    background-position: -232px -120px;
    width: 6px;
    height: 8px;
} */
.outer-list .career p {
    padding: 20px 0;
    line-height: 1.75;
    color: #666;
}
.outer-list > li a {
    margin-right: 100px;
}
.outer-list .telent > p {
    margin: 10px 0;
    color: #666;
}
.outer-list .talent .inner-list {
    color: #666;
    line-height: 1.75;
    margin-bottom: 20px;
}
.outer-list .inner-list strong {
    color: #111;
}
.outer-list .inner-list .sub {
    display: inline-block;
    width: 100px;
}
.outer-list .talent .inner-list span::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 4px;
    background: #666;
}
.challenge .career-link {
    background: var(--primary-color);
    display: block;
    margin: 0 auto;
    width: 270px;
    text-align: center;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
}
/* sns */
.sns .sns-tab {
    text-align: center;
}
.sns .sns-tab .tab-item {
    display: inline-block;
}
.sns .sns-tab .tab-item + .tab-item::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #999;
    margin: 0 1rem 1rem 3rem;
    margin-bottom: 1rem;
}
.sns .sns-tab .tab-item a {
    height: 20px;
    overflow: hidden;
    /* border: 1px solid #000; */
}
.sns .sns-tab .tab-item:first-child a img {
    margin-top: -20px;
}
/* post */
.post {
    display: inline-block;
    width: 100%;
}
.post-item {
    float: left;
    width: 33.333%;
    padding: 10px;
}
.post .post-item a {
    padding-top: 56.65%;
    height: 0;
    width: 100%;
    position: relative;
}
.post .post-item a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: var(--color-green);
    z-index: 1;
    transition: all 400ms;

}
.sns .post .post-item a:hover:before {
    left: 0;
    top: 0;
    width: 100%;
}
.post .post-item a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../image/sns/sns.png);
    background-position: -60px -120px;
    width: 161px;
    height: 45px;
    z-index: 2;
}
.sns .post .post-item a:hover::after {
    opacity: 1;
}
.sns .post .post-item a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sns .post .post-item .desc {
    padding: 46px 19px 30px;
}
.sns .post .post-item h5 {
    color: var(--primary-color);
}
.sns .post .post-item p {
    margin: 10px 0;
    /* text 한줄만 ...만들기 > 아래 세가지 조건이 충족되어야 한다 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* footer */
footer {
    padding-top: 35px;
    border-bottom: 1px solid #ddd;
}
footer .footer-ci {
    display: inline-block;
}
footer address {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    line-height: 1.5;

}
footer .footer-link {
    display: inline-block;

}
footer .footer-link a:hover {
    text-decoration: underline;
}
footer .footer-link a + a::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #666;
    vertical-align: middle;
    margin: 0 20px;
    margin-bottom: 5px;
}
footer .footer-link a:last-child {
    color: var(--primary-color);
}