@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
button {
    outline: none;
    border: none;
    background: transparent;
}